a:hover { 
  background-color: lavender;
  font-size: 18px;
}

nav {
	padding: 3em;
	font-size: large;
}

body {
	min-height: 100%;
	background-color: #F5E2E3;
}


.logo img {
	width: 150px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
	
}

.pres img {
  width: 25%;
}

.loading img {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  text-align: center;
  
}

.center-text {
  text-align: center;
}
.sidenav {
  width: 80%;
  margin: 30px auto;
  padding: 15px;

  background: lavenderblush;
  border-radius: 12px;

  border: 2px;
  border-color: black;

  text-align: center;
  backdrop-filter: blur(6px);

}

.sidenav a {
  color: black;
  text-decoration: none;
  margin: 25px;
  font-size: 18px;
  font-family: cursive;
  letter-spacing: 2px;
}

}
}